<h1>{{ putovanje.putovanje_naslov }}</h1>
<p><strong>Opis:</strong> {{ putovanje.putovanje_opis }}</p>
<p><strong>Lokacija:</strong> {{ putovanje.putovanje_lokacija }}</p>
<p><strong>Država:</strong> {{ putovanje.putovanje_drzava }}</p>
<p><strong>Cijena:</strong> {{ putovanje.putovanje_cijena }}</p>
<p><strong>Datum Polaska:</strong> {{ putovanje.putovanje_datumPolaska }}</p>
<p><strong>Broj Noćenja:</strong> {{ putovanje.putovanje_brojNocenja }}</p>
<p><strong>Broj Osoba:</strong> {{ putovanje.putovanje_brojOsoba }}</p>