<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <h1>Prijavljena Putovanja</h1>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/prijave">Prijave</a></li>
            <li><a href="/putovanja">Putovanje</a></li>
            <li><a href="/putovanja_hr">Putovanja u Hrvatsku</a></li>
        </ul>
        {% endblock %}
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>